@media only screen and (max-width: 900px) {
    .nav {
        box-shadow: none;

    }
    .nav-button {
        display: none;
    }
    .nav-menu.responsive {
        left: 0;
    }
    .nav-menu {
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--background);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }

    .nav-options {
        flex-direction: column;
    }

    .nav-hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}