
@media only screen and (max-width: 900px) {
    
    .nav-button {
        display: none;
    }
    .nav-menu.responsive {
        left: 0;
    }

    .nav-menu {
        position: fixed;
        top: 60px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--background);
        backdrop-filter: blur(20px);
        width: 100%;
        height: 90vh;
        transition: .3s;
    }

    .nav-options {
        flex-direction: column;
    }

    .nav-option {
        margin-bottom: 45px;
    }

    .nav-hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* HERO SECTION */

    .hero-container {
        flex-direction: column;
        justify-content: center;
    }

    .img-col {
        padding: 10rem 0 0 0;
    }

    .img-frame {
        width: 400px;
        display: flex;
        justify-content: center;
        
    }

    .img-col img {
        height: 35vh;
    }

    .text-col {
        width: 480px;
    }

}